<template>
  <div class="content">
    <div class="block-table">
      <table>
        <thead>
            <tr>
              <th>ID</th>
              <th>Timestamp</th>
              <th>Hash</th>
            </tr>
        </thead>
        <tbody v-for="(block, index) in blocks.data" :key="index">
            <tr @click="openDetailedInfo(block)">
              <td>{{block.idBlockForHash}}</td>
              <td>{{block.timestamp}}</td>
              <td><input type="text" disabled v-model="block.hashed" class="hash"></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data: () => ({
    blocks: '',
  }),

  methods:{
    openDetailedInfo(block){
      //this.$router.push({name:"BlockDetail", params:{selectedBlock:e}});
      let routeData = this.$router.resolve({name: 'BlockDetail', query: {selectedBlock: block.idBlock}});
      window.open(routeData.href, '_blank');
    }
  },

  computed: {
  },

  async mounted() {
    this.blocks = await axios.get('get-longest-chain/')
  }
}

</script>

<style scoped>
.block-table{
    height: 260px;
    width: 100%;
    border-radius: 26px;
    text-align: left;
    table-layout: fixed;
    border-collapse: collapse;
    display: block;
    overflow-y: auto;
    font-size: 0.8rem;
}

table{
    width: 100%;
    padding: 0;
    border-spacing: 0;
}

 .block-table thead{
    text-align: left;
    font-weight: bold;
    position: sticky;
    top: 0;
    width: 100%;
    height: 35px;
    background: white;
}

.key-table tbody{
    height: 100%;
}

th:nth-of-type(1){
    width: 40px;
}

th:nth-of-type(2){
  width: 160px;
}

th, td{
    padding: 10px;
    border-bottom: 1px solid #ffebbd;
}

tr:nth-of-type(even){
}

tbody tr:hover{
  background: rgb(233, 233, 233);
  transition: all 0.2s ease;
  cursor: pointer;
}

.hash{
  width: 200px;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: "…";
  background: none;
  color: black;
  cursor: pointer;
}
</style>