<template>
    <div class="content">
        <div class="charts">
          <div class="div" style="margin-top:5px;">
            <h3>Key Connections</h3>
            <div class="chart"><key-connection-chart/></div>
          </div>
        </div>
        <div class="tables">
          <div class="div" style="margin-right:20px;">
            <h3>Blocks</h3>
            <div class="left-table"><block-table/></div>
          </div>
          <div class="div">
            <h3>Transactions</h3>
            <div class="right-table"><transaction-table/></div>
          </div>
        </div>
    </div>
</template>

<script>
import BlockTable from '@/components/BlockTable.vue';
import TransactionTable from '@/components/TransactionTable.vue';
import KeyConnectionChart from '@/components/KeyConnectionChart.vue';

export default {
  name: "dashboard-page",
  components: {
    BlockTable,
    TransactionTable,
    KeyConnectionChart,
  },
};
</script>

<style scoped>
.charts{
    display: flex;
  margin-top: 20px;
}

.chart{
  width: 100%;
  height: 240px;
  border: 3px solid #ECBD4D;
  border-radius: 26px;
}

.tables{
    display: flex;
    margin-top: 20px;

}

.left-table{
    width: 100%;
    height: 260px;
    border: 3px solid #ECBD4D;
    border-radius: 26px;
    padding: 5px;
}

.right-table{
    width: 100%;
    height: 260px;
    border: 3px solid #ECBD4D;
    border-radius: 26px;
    padding: 5px;
}

.div{
  margin: 10px 0;
  width: 100%;
}

h3{
  margin: 0;
  background: #ECBD4D;
  height: 25px;
  width: 30%;
  margin: auto;
  border-radius: 10px 10px 0 0;
}
</style>