<template>
  <div class="content">
    <h1>Transaction</h1>
    <div class="transactionTable">
        <div class="row" v-if="transaction.publicKeyWithdrawal != 'Mining-Reward'">
          <p class="leftRow">Hash:</p>
          <p class="rightRow" style="word-wrap: anywhere;">{{transaction.signedTransaction}}</p>
        </div>
        <div class="row">
          <p class="leftRow">Withdrawal:</p>
          <p class="rightRow">{{transaction.publicKeyWithdrawal}}</p>
        </div>
        <div class="row">
          <p class="leftRow">Deposit:</p>
          <p class="rightRow">{{transaction.publicKeyDeposit}}</p>
        </div>
        <div class="row">
          <p class="leftRow">Amount:</p>
          <p class="rightRow">{{transaction.amount}}</p>
        </div>
        <div class="row" style="border-bottom:none;">
          <p class="leftRow">Timestamp:</p>
          <p class="rightRow">{{transaction.timestamp}}</p>
        </div>
      </div>
      <div style="text-align:center;">
        <button @click="onDownload">export</button>
      </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
  data: () => ({
    transaction: {},
    selectedTransaction: '',
  }),
  async mounted() {
    this.selectedTransaction = await this.$route.query.selectedTransaction;
    this.transaction = await axios.get('get-transaction-by-signed-transaction' +"/" + this.selectedTransaction)
    this.transaction = this.transaction.data
  },
  computed:{
  },
  methods: {
    onDownload(){
      const downloadLink = document.createElement('a')
      downloadLink.href = 'data:application/json;charset=utf-8,' + encodeURIComponent(JSON.stringify([this.transaction]))
      downloadLink.download = 'transaction.json'
      downloadLink.click()
    },
  }
}
</script>

<style scoped>
.content{
  width: 1020px;
  height: 100%;
}

.row{
  display: flex;
  width: 100%;
  justify-content: start;
  margin: 0;
  border-bottom: 1px solid #ffebbd;
}

h1{
  margin: 20px auto 0 auto;
  background: #ECBD4D;
  height: 100%;
  width: 30%;
  border-radius: 10px 10px 0 0;
}

.row{
  display: flex;
  justify-content: left;
}
.transactionTable{
  width: 100%;
  height: 100%;
  border: 3px solid #ECBD4D;
  border-radius: 26px;
  padding: 10px;
}

.leftRow{
  width: 300px;
  display: flex;
  font-weight: bold;
}
.rightRow{
  display: flex;
  width: 100%;
}

button{
    width: 120px;
    height: 50px;
    background: #ECBD4D;
    border: none;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px 0;
}
</style>