<template>
    <div class="content">
      <h1>Block {{block.idBlockForHash}}</h1>
      <div class="blockTable">
        <div class="row">
          <p class="leftRow">Hash:</p>
          <p class="rightRow">{{ block.hashed }}</p>
        </div>
        <div class="row">
          <p class="leftRow">Previous Hash:</p>
          <p class="rightRow">{{ block.previousHash }}</p>
        </div>
        <div class="row">
          <p class="leftRow">Timestamp:</p>
          <p class="rightRow">{{ block.timestamp }}</p>
        </div>
        <div class="row">
          <p class="leftRow">Number of Transaction:</p>
          <p class="rightRow">{{ block.transactionList.length }}</p>
        </div>
        <div class="row" style="border-bottom:none;">
          <p class="leftRow">Nonce:</p>
          <p class="rightRow">{{ block.nonce }}</p>
        </div>
      </div>

      <h2>Transactions</h2>
      <div class="transactionTable">
        <div v-for="(transaction, index) in block.transactionList" :key="index">
          <h3>Transaction {{index +1}}</h3>
          <div class="row" v-if="transaction.publicKeyWithdrawal != 'Mining-Reward'">
            <p class="leftRow">Hash:</p>
            <p class="rightRow" style="word-wrap: anywhere;">{{transaction.signedTransaction}}</p>
          </div>
          <div class="row">
            <p class="leftRow">Withdrawal:</p>
            <p class="rightRow">{{transaction.publicKeyWithdrawal}}</p>
          </div>
          <div class="row">
            <p class="leftRow">Deposit:</p>
            <p class="rightRow">{{transaction.publicKeyDeposit}}</p>
          </div>
          <div class="row">
            <p class="leftRow">Amount:</p>
            <p class="rightRow">{{transaction.amount}}</p>
          </div>
          <div class="row">
            <p class="leftRow">Timestamp:</p>
            <p class="rightRow">{{transaction.timestamp}}</p>
          </div>
          <div class="border-bottom" v-if="index < block.transactionList.length-1"></div>
        </div>
      </div>
      <div style="text-align:center;">
        <button @click="onDownload">export</button>
      </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
  data: () => ({
    block: {},
    selectedBlock: '',
  }),
  async mounted() {
    this.selectedBlock = await this.$route.query.selectedBlock;
    this.block = await axios.get('get-block-by-id' +"/" + this.selectedBlock)
    this.block = this.block.data
  },
  computed:{
  },
  methods: {
    onDownload(){
      const downloadLink = document.createElement('a')
      downloadLink.href = 'data:application/json;charset=utf-8,' + encodeURIComponent(JSON.stringify([this.block]))
      downloadLink.download = 'block-'+this.selectedBlock+'.json'
      downloadLink.click()
    },
  }
}
</script>

<style scoped>
.content{
  width: 1020px;
  height: 100%;
}

.row{
  display: flex;
  width: 100%;
  justify-content: start;
  margin: 0;
  border-bottom: 1px solid #ffebbd;
}

h1{
  margin: 20px auto 0 auto;
  background: #ECBD4D;
  height: 100%;
  width: 30%;
  border-radius: 10px 10px 0 0;
}

h2{
  margin: 20px auto 0 auto;
  background: #ECBD4D;
  height: 100%;
  width: 20%;
  border-radius: 10px 10px 0 0;
}

h3{
  text-align: start;
  width: 100%;
  margin: 0;
  font-size: 1.4rem;
}

.blockTable{
  width: 100%;
  height: 100%;
  border: 3px solid #ECBD4D;
  border-radius: 26px;
  padding: 10px;
}

.transactionTable{
  width: 100%;
  height: 100%;
  border: 3px solid #ECBD4D;
  border-radius: 26px;
  padding: 10px;
}

.leftRow{
  width: 300px;
  display: flex;
  font-weight: bold;
}
.rightRow{
  display: flex;
  width: 100%;
}

.border-bottom{
  border-bottom: 2px solid #ECBD4D;
  margin-bottom: 15px;
}

button{
    width: 140px;
    height: 50px;
    background: #ECBD4D;
    border: none;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px 0;
}
</style>