<template>
    <div class="content">
        <div class="nav-content">
            <div class="nav-links">
                <router-link to ="/" style="display:flex;"><img src="../assets/LogoPngg.png" style="height: 50px; margin:auto;"></router-link>
                <!--<router-link to ="/" tag="img" src="required(../assets/LogoPngg.png)"/>-->
                <div class="buttons">
                    <router-link to ="/register" tag="button" style="width:100px; color:white">register</router-link>
                    <router-link to ="/login" tag="button" class="nav-button">login</router-link>
                </div>
                
            </div>
        </div>
        <div class="hero">
            <div class="hero-left">
                <h3>welcome to</h3>
                <h1><span>&#60;</span>CODERS.COIN<span>&#62;</span></h1>
                <h2>_.the best way to learn blockchain|</h2>

                <div class="design-element">
                    <div class="design">
                        <div class="block"></div>
                        <div class="arrow"></div>
                        <div class="arrow"></div>
                        <div class="arrow"></div>
                    </div>
                    <router-link to ="/dashboard" tag="button">get started</router-link>
                </div>
            </div>
            <div class="hero-right">
               <three-d-model id="threeD"></three-d-model>
            </div>
        </div>
        <footer>
            <div class="stripes">
            </div>
        </footer>
    </div>
</template>

<script>
import ThreeDModel from "../components/3DLandingModel.vue";

export default {
  components: {
    ThreeDModel,
  },
};
</script>

<style scoped>
.nav-content{
    height: 70px;
    width: 100vw;
    margin: auto;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    width: 1020px;
    height: 100%;
    margin: auto;
}

.buttons{
    display: flex;
    width: 230px;
}

.nav-button{
    background:#ECBD4D; 
    border:none; 
    font-weight: bold;
    color:black;
    width: 90px;
    height: 50px;
    margin: auto;
}

.hero{
    display: flex;
    width: 100%;
    margin-top: 150px;
}

.hero-left{
    width: 160%;
    text-align: start;
}

h1{
    font-size: 5rem;
    margin: 0;
}

h2{
    font-size: 1.5rem;
    margin: 20px 0 80px 0;
    padding-left: 120px;
    font-weight: normal;
}

h3{
    font-size: 2rem;
    margin: 0;
    color: #ECBD4D;
    
}

span{
    color: #ECBD4D;
}

.design-element{
    display: flex;
    justify-content: space-between;
}

.design{
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.block{
    margin: auto 0;
    width: 350px;
    height: 11px;
    background: #ECBD4D;
}

.arrow{
    margin: auto 0;
    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 13px solid #ECBD4D;
}

button{
    margin: auto 0;
    background: none;
    font-size: 1.2rem;
    font-weight: bold;
    width: 140px;
    height: 50px;
    border: 4px solid #ECBD4D;
    border-radius: 23px;
    cursor: pointer;
}

.hero-right{
    width: 100%;
}

#threeD{
    width: 350px;
    height: 350px;
}

footer{
    height: 150px;
    width: 1264px;
    max-width: 90%;
    background: black;
    border-radius: 140px 0 0 0;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    overflow: hidden;
}
.stripes {
    max-width: 100%;
    position: absolute;
    width: 900px;
    top: -800px;
    right: 0;
    background: grey;
    aspect-ratio: 12/20;
    opacity: 0.3;
    -webkit-mask-image: url(../assets/stripes2.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    pointer-events: none;
}
</style>