<template>
    <div class="content" >
        <form class="left-main" @submit.prevent="performLogin">
            <h1><span>&#60;</span>LOGIN<span>&#62;</span></h1>
            <div class="inputs">
                <div style="height: 25px; border-radius: 10px; color: white" :style="{backgroundColor: errorBackgroundColor}">{{errorMessage}}</div>
                <input type="text" placeholder="username" required v-model="username" :disabled="loginInProgress" autocomplete="username">
                <input type="password" placeholder="password" required v-model="password" :disabled="loginInProgress" autocomplete="current-password">
                <router-link to ="/register" class="sign-link" style="text-decoration:none; color:black;">not registered yet? <span style="text-decoration: underline;">click hier</span></router-link>
                <div class="buttons" style="display:flex; justify-content:space-between">
                  <button type="submit" :disabled="loginInProgress">login</button>
                  <router-link to ="/" tag="button">back</router-link>
                </div>
            </div>
        </form>
        <div class="right-main">
          <div class="stripes"></div>
          <three-d-model id="threeD"></three-d-model>
        </div>
    </div>
</template>

<script>
import ThreeDModel from "../components/3DModel.vue";

export default {
  components: {
    ThreeDModel
  },
  data: () => ({
    username: '',
    password: '',
    loginError: '',
    loginInProgress: false,
    errorMessage: '',
    errorBackgroundColor: ''
  }),
  methods: {
    async performLogin () {
      this.errorBackgroundColor = "rgba(255,255,255,0.65)"
      this.loginInProgress = true
      try {
        await this.$store.dispatch('login', {
          username: this.username,
          password: this.password
        })
        this.$router.push('/wallet')
      } catch (err) {
        if (err.response && err.response.status === 400) {
          this.errorMessage = "Invalid data!"
          this.errorBackgroundColor = "rgba(227,24,24,0.65)"
          this.loginError = 'Wrong username or password'
        } else {
          this.errorMessage = "Unknown error!"
          this.errorBackgroundColor = "rgba(227,24,24,0.65)"
          this.loginError = 'An unknown error occurred '
        }
      } finally {
        this.loginInProgress = false
      }
    },
    hideRegisterSuccessMessage() {
      this.$router.replace({query: {}})
    }
  },
  computed: {
    showRegisterSuccess() {
      return !this.loginError && this.$route.query.ref === 'register'
    }
  }
}
</script>

<style scoped>
.content{
  width: 100%;
  height: 100%;
  display: flex;
}

.left-main{
  width: 40%;
  padding-top: 150px;
  position: absolute;
  left: 0;
}

h1{
  font-size: 4rem;
  margin: 0;
}

.inputs{
  margin-top: 80px;
  display: inline-grid;
  grid-gap: 20px;
  width: 30%;
  
}

input{
  background: none;
  border: 3px solid #ECBD4D;
  padding: 5px 10px;
  height: 30px;
}

input:focus{
  background: none;
  outline: none;
}

.sign-link{
  font-size: 0.8rem;
  height: 20px;
  margin: 0;
  padding: 0;
}

button{
  width: 35%;
  height: 35px;
  background: #ECBD4D;
  border: none;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

span{
  color: #ECBD4D;
}

.right-main{
  width: 60%;
  height: 100vh;
  position: absolute;
  background: black;
  right: 0;
  border-radius: 80px 0 0 80px;
  display: flex;
}

#threeD{
  margin: auto;
  width: 550px;
  height: 550px;
}

.stripes {
    max-width: 100%;
    position: absolute;
    width: 850px;
    top: -1000px;
    right: 0;
    background: grey;
    aspect-ratio: 12/20;
    opacity: 0.3;
    -webkit-mask-image: url(../assets/stripes2.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    pointer-events: none;
}
</style>