<template>
    <div class="content">
        <div class="mining-block">
            <span class="range-number">Difficulty: {{difficulty}}</span><br>
            <input type="range" min="0" max="6" step="1" class="slider" v-model.number="difficulty"> 
            <input type="text" placeholder="nonce" v-model="nonce" @input="mineBlockManuelly" :class="inputStyle">
            <input @click="removeError()" type="text" placeholder="public key" list="reward-keys" v-model="rewardKey">
            <datalist id="reward-keys" v-if="user">
                <option v-for="(key, index) in user.keyPrivatePublicList" :key="index" :value="key.publicKeyBase58">{{key.publicKeyBase58}}</option>
            </datalist>
            <label class="upload-field" draggable @drop.prevent="onFileDrop" @dragenter.prevent @dragover.prevent>
                <p class="upload-text"><span class="upload-text-decorated">upload transactions here</span> <br><span v-for="(file, index) in files" :key="index" class="file-name">{{file.name}}</span></p>
                <input type="file" ref="uploadFile" multiple 
                    accept=".json" @change="onFileUpload" required>
            </label>
            <input type="text" placeholder="hash" v-model="hashed" disabled :class="inputStyle">
            <div class="buttons">
                <button class="disabled-btn" @click="onDownload" ref="btn" disabled :class="btnStyle">export</button>
                <button @click="mineBlock" ref="check" style="display:flex;">
                    <p style="margin:auto;">mine</p>
                    <label class="disabled-check" :class="checkStyle">
                        <div class="disabled-check-icon" :class="iconStyle"></div>
                    </label>
                </button>
            </div>
            <div style="height: 25px; border-radius: 10px; color: white; margin-top: 30px; width: 50%; margin-left: auto; margin-right: auto" :style="{backgroundColor: errorBackgroundColor}">{{errorMessage}}</div>

        </div>
        <div>
            <h3>Informations</h3>
            <div class="mining-info">
                <h4>Difficulty:</h4>
                <span>describes the difficulty at mining (count of zeros at the start of the hash).</span>

                <h4>Nonce:</h4>
                <span>is used in mining to hash the block.</span>

                <h4>Public-Key:</h4>
                <span>mining rewards will go to this key.</span>

                <h4>Transaktionen:</h4>
                <span>uploaded transactions (max.3) are stored in the blockchain.</span>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
  data: () => ({
        difficulty: 3,
        nonce: '',
        rewardKey: '',
        formData: null,
        hashed: '',
        hashDebounceTimeoutId: null,
        files: [],
        block: [],
        btnStyle: '',
        inputStyle: '',
        checkStyle: '',
        iconStyle: '',
        errorMessage: '',
        errorBackgroundColor: ''
    }),
     mounted() {
    },
    computed: {
        filesArray() {
            return this.files.reduce((arr, {content}) => {
                arr.push(...content)
                return arr
            }, [])
        },
        user() {
            return this.$store.state.user
        }
    },
    methods: {
        async startUpload(){
            await this.$store.dispatch('fileUpload', this.filesArray)
        },
        onFileDrop(event){
            if(this.files.length + event.dataTransfer.files.length > 3) {
                alert("Only 3 files accepted.");
                return
            }
            for(let file of event.dataTransfer.files) {
                this.readAndAppendFile(file)
            }
        },
        onFileUpload(){
            //limit of files
            if (this.files.length + this.$refs.uploadFile.files.length > 3) {
                alert("Only 3 files accepted.");
                this.$refs.uploadFile.value = null;
            }
            //loop for every file
            for (let file of this.$refs.uploadFile.files){
                this.readAndAppendFile(file)
            }
        },
        readAndAppendFile(file) {
            const fr = new FileReader()
            //file json structure into one array
            fr.onload = e => this.files.push({
                content: JSON.parse(e.target.result),
                name: file.name
            })
            fr.readAsText(file)
        },
        onDownload(){
            const downloadLink = document.createElement('a')
            downloadLink.href = 'data:application/json;charset=utf-8,' + encodeURIComponent(JSON.stringify([this.block.data]))
            downloadLink.download = 'block.json'
            downloadLink.click()
            this.btnStyle = 'disabled-btn';
            this.inputStyle = '';
            this.difficulty = 3;
            this.nonce = '';
            this.rewardKey = '';
            this.hashed = '';
            this.files = [];
            this.checkStyle = '';
            this.iconStyle = '';
        },
        async mineBlock(){
            this.errorBackgroundColor = "rgba(255,255,255,0.65)"
            try {
              this.checkStyle = '';
              this.iconStyle = '';
              this.$refs.check.disabled = true;
              if(this.rewardKey != ''){
                this.checkStyle = 'enabled-check';
                this.$refs.check.style.cursor = 'progress';
              }
              const miningPathVariables= {file: this.filesArray, difficulty: this.difficulty, nonce: this.nonce, rewardKey: this.rewardKey}
              this.block = await axios.post('auto-mine-block/' +miningPathVariables.difficulty +'/' +miningPathVariables.rewardKey, miningPathVariables.file);
              if(this.block.data.blockCorrectMined === true){
                this.checkStyle = 'correct-check';
                this.iconStyle = 'enabled-check-icon';
                this.$refs.check.disabled = false;
                this.$refs.check.style.cursor = 'default';
              }
              this.$refs.btn.disabled = false;
              this.btnStyle = 'enabled-btn';
            }catch (err){
              if (err.response && err.response.status === 404) {
                this.errorMessage = "Public Key is required!"
                this.errorBackgroundColor = "rgba(227,24,24,0.65)"
              }else if(err.response && err.response.status === 400){
                this.errorMessage = "Invalid transaction!"
                this.errorBackgroundColor = "rgba(227,24,24,0.65)"
              }else {
                this.errorMessage = "Unknown error!"
                this.errorBackgroundColor = "rgba(227,24,24,0.65)"
              }
            }

        },
        mineBlockManuelly(){
            clearTimeout(this.hashDebounceTimeoutId)
            this.hashDebounceTimeoutId = setTimeout(async () => {
                const miningPathVariables= {file: this.filesArray, difficulty: this.difficulty, nonce: this.nonce, rewardKey: this.rewardKey}
                //await this.$store.dispatch('mineBlockManuelly', miningPathVariables)
                this.block = await axios.post('mine-block-with-nonce/' +miningPathVariables.difficulty +'/' +miningPathVariables.rewardKey +'/' +miningPathVariables.nonce, miningPathVariables.file);
                this.hashed = this.block.data.hashed;
                if(this.block.data.blockCorrectMined === false){
                    this.checkStyle = 'enabled-check';
                    this.inputStyle = 'false-input';
                }else if(this.block.data.blockCorrectMined === true){
                    this.checkStyle = 'correct-check';
                    this.iconStyle = 'enabled-check-icon';
                    this.inputStyle = 'true-input';
                    this.$refs.btn.disabled = false;
                    this.btnStyle = 'enabled-btn';
                }
            },100)
        },
        removeError(){
          this.errorBackgroundColor = "rgba(255,255,255,0.65)"
        }
    }
}
</script>

<style scoped>
.content{
    display: flex;
    margin: 60px 0 0 0;
    justify-content: space-between;
}

.mining-block{
    height: 450px;
    width: 700px;
    margin: auto 0;
    /* border: 3px solid #ECBD4D;
    border-radius: 26px;
    padding: 20px; 
    margin: auto;*/
}

h3{
    margin: 0;
    background: #ECBD4D;
    height: 30px;
    width: 55%;
    font-size: 1.4rem;
    margin: auto;
    border-radius: 10px 10px 0 0;
}

h4{
    margin: 20px 0 0 0;
}

.mining-info{
    height: 400px;
    width: 250px;
    margin: auto 0;
    border: 3px solid #ECBD4D;
    border-radius: 26px;
    padding: 10px 20px;
    text-align: start;
}

input{
    background: none;
    border: 3px solid #ECBD4D;
    padding: 5px 10px;
    height: 20px;
    width: 600px;
    margin: 15px 0;
}

input:focus{
    background: none;
    outline: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range] {
    margin: 20px 0;
    padding: 0;
}

textarea:focus{
    outline: none;
}

.upload-field{
    background: rgba(134, 134, 255, 0.085);
    border: 3px solid #ECBD4D;
    border-style: dashed;
    padding: 5px 10px;
    height: 120px;
    width: 600px;
    margin: 15px 0;
    resize: none;
    margin-bottom: 0;
}

.upload-field:hover{
    border-style: dotted;
    background: rgba(134, 134, 255, 0.208);
    cursor: pointer;
}

.upload-text{
    color: blue;
    margin: 50px;
}

.upload-text-decorated {
    text-decoration: underline;
}

.upload-field .upload-text .file-name{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

label{
    display: inline-block;
	position: relative;
}

.upload-field input{
    width: 626px;
	height: 136px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
    visibility: hidden;
    width: 100px;
    height: 100%;
}

.range-number{
    padding: 5px 10px;
    height: 60px;
    width: 40px;
    font-weight: bold;
}

.slider {
  -webkit-appearance: none;
  width: 620px;
  height: 5px;
  border-radius: 25px;  
  background: #ECBD4D;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #000000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}

.slider:focus{
    background: #ECBD4D;
}

.buttons{
    position: relative;
    left: 453px;
    display: flex;
}

.false-input{
    border-color: red;
}

.true-input{
    border-color: green;
}

.disabled-btn{
    background: #adadad;
    cursor: default;
}

.enabled-btn{
    background: #ECBD4D;
    cursor: pointer;
}

button{
    width: 90px;
    height: 30px;
    background: #ECBD4D;
    border: none;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 15px;
    margin: 0 10px;
    display: block;
    cursor: pointer;
}

.disabled-check{
  display: none;
}

.enabled-check{
  margin: auto;
  height: 15px;
  width: 15px;
  display: inline-block;
  border: 4px solid rgba(230, 230, 230, 0.397);
  border-radius: 50%;
  border-left-color: rgb(255, 255, 255);
  animation: rotate 1.2s linear infinite;
  margin:auto;
  cursor: progress;
}
@keyframes rotate {
  100%{
    transform: rotate(360deg);
  }
}
.disabled-check-icon{
  display: none;
}

.enabled-check-icon{
  display: block;
}

.enabled-check-icon:after{
  position: absolute;
  content: "";
  top: 50%;
  left: -5px;
  height: 16px;
  width: 6px;
  transform: scaleX(-1) rotate(135deg);
  border-top: 4px solid white;
  border-right: 4px solid white;
  transform-origin: left top;
  animation: check-icon 0.8s ease;
  margin:auto;
}
@keyframes check-icon {
  0%{
    height: 0;
    width: 0;
    opacity: 1;
  }
  20%{
    height: 0;
    width: 6px;
    opacity: 1;
  }
  40%{
    height: 16px;
    width: 6px;
    opacity: 1;
  }
  100%{
    height: 16px;
    width: 6px;
    opacity: 1;
  }
}
.correct-check{
    margin: auto;
    height: 20px;
    width: 15px;
    display: inline-block;
    transition: border 0.5s ease-out;
}
</style>