<template>
    <div class="content">
        <div class="left-main">
          <div class="stripes"></div>
          <three-d-model id="threeD"></three-d-model>
        </div>
        <form class="right-main" @submit.prevent="performRegistration">
            <h1><span>&#60;</span>REGISTER<span>&#62;</span></h1>
            <div class="inputs">
              <div style="height: 25px; border-radius: 10px; color: white" :style="{backgroundColor: errorBackgroundColor}">{{errorMessage}}</div>
                <input type="text" placeholder="firstname" required v-model="firstname" :disabled="registerInProgress" autocomplete="firstname">
                <input type="text" placeholder="lastname" required v-model="lastname" :disabled="registerInProgress" autocomplete="lastname">
                <input type="text" placeholder="username" required v-model="username" :disabled="registerInProgress" autocomplete="username">
                <input type="password" placeholder="password" required v-model="password" :disabled="registerInProgress" autocomplete="new-password">
                <input type="password" placeholder="repeat password" required v-model="passwordRepeat" :disabled="registerInProgress" autocomplete="new-password">
                <div class="buttons" style="display:flex; justify-content:space-between">
                  <button type="submit" :disabled="registerInProgress" style="width:100px;">register</button>
                  <router-link to ="/" tag="button">back</router-link>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import ThreeDModel from "../components/3DModel.vue";

export default {
   components: {
    ThreeDModel
  },
  data: () => ({
      firstname: '',
      lastname: '',
      username: '',
      password: '',
      passwordRepeat: '',
      registrationError: '',
      registerInProgress: false,
      errorMessage: '',
      errorBackgroundColor: ''
  }),
  methods: {
    async performRegistration () {
      this.errorBackgroundColor = "rgba(255,255,255,0.65)"
      if (this.password !== this.passwordRepeat) {
        this.registrationError = 'Passwords do not match'
        this.errorMessage = "Passwords dont match!"
        this.errorBackgroundColor = "rgba(227,24,24,0.65)"
        return
      }

      this.registerInProgress = true
      try {
        await this.$store.dispatch('register', {
          firstName: this.firstname,
          lastName: this.lastname,
          userName: this.username,
          password: this.password
        })
        this.$router.push('/login?ref=register')
      } catch (err) {
        if (err.response && err.response.status === 409) {
          this.errorMessage = "Username taken!"
          this.errorBackgroundColor = "rgba(227,24,24,0.65)"
          this.registrationError = 'Username already exists'
        } else {
          console.error(err)
          this.registrationError = 'An unknown error occurred'
          this.errorMessage = "Unknown error!"
          this.errorBackgroundColor = "rgba(227,24,24,0.65)"
        }
      } finally {
        this.registerInProgress = false
      }
    }
  }
}
</script>

<style scoped>
.content{
  width: 100%;
  height: 100%;
  display: flex;
}

.left-main{
  width: 60%;
  height: 100vh;
  background: black;
  position: absolute;
  left: 0;
  border-radius: 0 80px 80px 0;
  display: flex;
}

.right-main{
  width: 40%;
  padding-top: 100px;
  position: absolute;
  right: 0;
}

h1{
  font-size: 4rem;
  margin: 0;
}

.inputs{
  margin-top: 40px;
  display: inline-grid;
  grid-gap: 20px;
  width: 30%;
  
}

input{
  background: none;
  border: 3px solid #ECBD4D;
  padding: 5px 10px;
  height: 30px;
}

input:focus{
  background: none;
  outline: none;
}

.sign-link{
  font-size: 0.8rem;
  height: 20px;
  margin: 0;
  padding: 0;
}

button{
  width: 70px;
  height: 35px;
  background: #ECBD4D;
  border: none;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

span{
  color: #ECBD4D;
}

#threeD{
  margin: auto;
  width: 550px;
  height: 550px;
}

.stripes {
  max-width: 100%;
  position: absolute;
  width: 850px;
  top: -1000px;
  left: 0;
  background: grey;
  aspect-ratio: 12/20;
  opacity: 0.3;
  -webkit-mask-image: url(../assets/stripes.1673fe1.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  pointer-events: none;
}
</style>