<template>
    <div class="content">
        <div class="transaction-content">
          <div style="height: 25px; border-radius: 10px; color: white" :style="{backgroundColor: errorBackgroundColor}">{{errorMessage}}</div>
            <div class="keys">
                <div>
                    <p class="description">Sender</p>
                    <input type="text" placeholder="public key" list="send-keys" v-model="senderKey" @input="setSenderPrivateKey">
                    <datalist id="send-keys" v-if="user">
                        <option v-for="(key, index) in user.keyPrivatePublicList" :key="index" :value="key.publicKeyBase58">{{key.publicKeyBase58}}</option>
                    </datalist>
                </div>
                <div class="arrow">
                    <div class="arrowbody"></div>
                    <div class="arrowtip"></div>
                </div>
                <div>
                    <p class="description">Receiver</p>
                    <input type="text" placeholder="public key" list="receive-keys" v-model="receiverKey">
                    <datalist id="receive-keys" v-if="user">
                        <option v-for="(key, index) in user.keyPrivatePublicList" :key="index" :value="key.publicKeyBase58">{{key.publicKeyBase58}}</option>
                    </datalist>
                </div>
            </div>
            <div style="margin-top: 40px;">
                <p class="description">Amount</p>
                <input type="number" min="0" placeholder="amount" v-model="amount" style="width: 150px;">
            </div>
            <div style="margin-top: 50px;">
                <p class="description">Signature</p>
                <input type="text" placeholder="private key" v-model="signKey" style="width: 350px;">
            </div>
            <button @click="createTransaction()">send</button>
        </div>
        <div>
            <h3 :class="titleStyle">Transaktion</h3>
            <div class="transaction-showcase" :class="borderStyle">
                <div class="body">
                    <p>Hash:</p>
                    <p class="info">{{transaction.signedTransaction}}</p>
                    <p>Timestamp:</p>
                    <p class="info">{{transaction.timestamp}}</p>
                    <p>Sender:</p>
                    <p class="info">{{transaction.publicKeyWithdrawal}}</p>
                    <p>Receiver:</p>
                    <p class="info">{{transaction.publicKeyDeposit}}</p>
                    <p>Amount: <span class="info">{{transaction.amount}}</span></p>
                </div>
                <div>
                    <button style="margin: 20px 0 0 0" @click="fileDownload">export</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    data: () => ({
        senderKey:'',
        amount: '',
        receiverKey:'',
        signKey:'',
        transaction:{},
        titleStyle: '',
        borderStyle: '',
        errorMessage: '',
        errorBackgroundColor: ''
    }),
     mounted() {
    },
    computed: {
        user() {
            return this.$store.state.user
        }
    },
    methods: {
        setSenderPrivateKey() {
            const key = this.$store.state.user.keyPrivatePublicList.find(key => key.publicKeyBase58 === this.senderKey);
            if(key) {
                this.signKey = key.privateKeyWif
            }
        },
        fileDownload(){
            if(!Object.values(this.transaction).length){
                alert("no transaction added");
                return
            }
            const downloadLink = document.createElement('a')
            downloadLink.href = 'data:application/json;charset=utf-8,' + encodeURIComponent(JSON.stringify([this.transaction]))
            downloadLink.download = 'transaction.json'
            downloadLink.click()
        },
        async createTransaction(){
            this.errorBackgroundColor = "rgba(255,255,255,0.65)"
            try {
              let transaction = {
                publicKeyWithdrawal: this.senderKey,
                publicKeyDeposit: this.receiverKey,
                amount: this.amount,
                signKey: this.signKey
              }
              this.senderKey = ''
              this.amount = ''
              this.receiverKey = ''
              this.signKey = ''
              //await this.$store.dispatch('createTransaction', transaction);
              const response = await axios.post('create-transaction/' + transaction.signKey , transaction)
              this.transaction = response.data
              this.titleStyle = 'title-feedback';
              this.borderStyle = 'border-feedback';
              setTimeout(()=>{
                this.titleStyle = '';
                this.borderStyle = '';
              }, 400);
            }catch (err){
              if (err.response && err.response.status === 400 || err.response && err.response.status === 404) {
                if (err.response.data.message == "Not enough funds for transaction available") {
                  this.errorMessage = "Not enough funds available!";
                  this.errorBackgroundColor = "rgba(227,24,24,0.65)"
                }
                else{
                  this.errorMessage = "Invalid transaction!";
                  this.errorBackgroundColor = "rgba(227,24,24,0.65)"
                }
              }
              else {
                this.errorMessage = "Unknown error!"
                this.errorBackgroundColor = "rgba(227,24,24,0.65)"
              }
            }

            
        },
    },
}
</script>

<style scoped>
.content{
    width: 100%;
    height: 100%;
    margin: 60px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.transaction-content{
    height: 460px;
    width: 650px;
    /* border: 3px solid #ECBD4D;
    border-radius: 26px; 
    padding: 30px 40px; */
    padding: 30px 0;
}

.keys{
    display: flex;
    justify-content: space-between;
}

.description{
    margin: 0;
    margin-top: 30px;
}

h3{
    margin: 0;
    background: #ECBD4D;
    height: 30px;
    width: 55%;
    font-size: 1.4rem;
    margin: auto;
    border-radius: 10px 10px 0 0;
}

p{
    font-size: 1.2rem;
    margin: 15px 0 10px 0;
    font-weight: bold;
}

.transaction-showcase{
    height: 400px;
    width: 250px;
    padding: 10px 20px;
    border: 3px solid #ECBD4D;
    border-radius: 26px;
}

.info{
    font-size: 1rem;
    font-weight: normal;
    width: 230px;
    height: 20px;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: "…";
    margin: 0;
}

.border-feedback{
    border-color: green;
}

.title-feedback{
    background: green;
}

.body{
    text-align: left;
    margin: 0;
}

.arrow{
    display: flex;
    margin-top: 40px;
}
.arrowbody{
    width: 50px; 
    height: 15px;
    background: #ECBD4D;
    margin: auto;
}
.arrowtip{
    width: 0; 
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ECBD4D;
    margin: auto;
}

input{
    background: none;
    border: 3px solid #ECBD4D;
    padding: 5px 10px;
    height: 20px;
    width: 230px;
    margin: 0;
    margin-bottom: 20px;
}

input:focus{
    background: none;
    outline: none;
}

button{
    width: 90px;
    height: 40px;
    background: #ECBD4D;
    border: none;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}
</style>