<template>
    <div class="content">
        <div class="hero-left">
            <h3>User</h3>
            <div class="user">
                <div class="person-info">
                    <span>username:</span>
                    <span class="info">{{user.userName}}</span>
                    <span>firstname:</span>
                    <span class="info">{{user.firstName}}</span>
                    <span>lastname:</span>
                    <span class="info">{{user.lastName}}</span>
                    <span>balance:</span>
                    <span class="info">{{amount.data.toFixed(2)}}</span>
                    <div class="user-buttons">
                        <button class="user-btn" @click="logout">
                            <p>logout</p>
                            <img src="../assets/logout.svg" alt="">
                        </button>
                        <button class="user-btn" @click="getCoins">
                            <p>free coins</p>
                            <img src="../assets/download.svg" alt="">
                        </button>
                    </div>
                </div>
            </div>
            <div style="height: 25px; border-radius: 10px; color: white; margin-top: 70px" :style="{backgroundColor: errorBackgroundColor}">{{errorMessage}}</div>
        </div>
        <div class="hero-right">
            <h3>Keys</h3>
            <div class="key-table">
                <table>
                    <thead>
                        <tr>
                        <th>Nr.</th>
                        <th>Private-Key</th>
                        <th>Public-Key</th>
                        <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(key, index) in keys.data" :key="key.idKeyPrivatePublic">
                        <td>{{index+1}}</td>
                        <td @click="copy(key.privateKeyWif)">
                            <input type="password" class="key-td" title="click to copy" @pointerenter="showInputText" @pointerleave="hideInputText" v-model="key.privateKeyWif" disabled>
                        </td>
                        <td @click="copy(key.publicKeyBase58)">
                            <input type="text" class="key-td" title="click to copy" v-model="key.publicKeyBase58" disabled>
                        </td>
                        <td>{{key.amount.toFixed(2)}}</td>
                        <!-- v-on:focus="$event.target.select()" ref="clone" readonly :value"text" -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="input-fields">
                <input type="text" v-model="key" placeholder="private key">
                <div class="buttons-bar">
                    <button @click="addKey()" style="display:flex">
                        <p style="margin:auto;">add Key</p>
                        <label :class="addCheck">
                            <div class="disabled-check-icon" :class="addIconStyle"></div>
                        </label>
                    </button>
                    <button @click="generateKey()" style="display:flex">
                        <p style="margin:auto;">generate</p>
                        <label :class="generateCheck">
                            <div class="disabled-check-icon" :class="generateIconStyle"></div>
                        </label>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    data: () => ({
        key: '',
        textToCopy: '',
        amount: '',
        keys: '',
        addCheck: '',
        generateCheck: '',
        addIconStyle: '',
        generateIconStyle: '',
        errorMessage: '',
        errorBackgroundColor: ''
    }),
    mounted() {
    },
    computed: {
      user() {
        return this.$store.state.user
      }
    },
    methods: {
        async getCoins(){
            const response = await axios.get('user/get-free-starting-coins')
            const downloadLink = document.createElement('a')
            console.log(response.data)
            downloadLink.href = 'data:application/json;charset=utf-8,' + encodeURIComponent(JSON.stringify([response.data]))
            downloadLink.download = 'free-starting-coins.json'
            downloadLink.click()
        },
        copy(textToCopy){
            navigator.clipboard.writeText(textToCopy);
            // neuere Variante clipboard.writeText();
            // alte Variante document.execCommand();
        },
        showInputText(event){
            event.target.type = "text"
        },
        hideInputText(event){
            event.target.type = "password"
        },
        async logout(){
            await this.$store.dispatch('logout')
            this.$router.push('/')
        },
        async addKey(){
            this.addCheck = '';
            this.addIconStyle = '';
            this.errorBackgroundColor = "rgba(255,255,255,0.65)"
            try {
                await this.$store.dispatch('addKey', this.key)
                this.key= ''
                this.keys = await axios.get('user/get-key-pairs-with-funds')
                this.addCheck = 'true-check';
                this.addIconStyle = 'true-check-icon';
            }catch (err){
              if (err.response && err.response.status === 400 || err.response && err.response.status === 404){
                this.errorMessage = "Invalid private key"
                this.errorBackgroundColor = "rgba(227,24,24,0.65)"
              }
              else{
                this.errorMessage = "Unknown error!"
                this.errorBackgroundColor = "rgba(227,24,24,0.65)"
              }
            }
        },
        async generateKey(){
            this.generateCheck = '';
            this.generateIconStyle = '';
            await this.$store.dispatch('generateKey')
            this.keys = await axios.get('user/get-key-pairs-with-funds')
            this.generateCheck = 'true-check';
            this.generateIconStyle = 'true-check-icon';
        },
    },
    async created(){
        this.amount = await axios.get('user/get-funds-per-wallet')
        this.keys = await axios.get('user/get-key-pairs-with-funds')
        await this.$store.dispatch('loadAllUsers')
        await this.$store.dispatch('getSignedInUser')
    }
}
</script>

<style scoped>
.content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

h3{
  margin: 0;
  background: #ECBD4D;
  height: 25px;
  width: 60px;
  margin: auto;
  border-radius: 10px 10px 0 0;
}

.user{
    min-width: 250px;
    text-align: left;
    height: 400px;
    width: 100%;
    border: 3px solid #ECBD4D;
    border-radius: 26px;
    display: flex;
}

.person-info{
    margin: auto;
    margin-top: 20px;
    display: inline-grid;
    grid-gap: 5px;
}
.info{
    text-align: center;
    width: 180px;
    height: 32px;
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
    border-bottom: 1px solid #ECBD4D;
    margin: 0;
}

.user-buttons{
    width: 100%;
    height: 100%;
}

.user-btn{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    margin: 20px auto;
    padding: 5px;
    display: flex;
}

.user-btn p{
    margin: auto;
}

.user-btn img{
    width: 30px;
    margin: auto;
}

.input-fields{
    margin-top: 50px;
    display: inline-grid;
    grid-gap: 15px;
}

.hero-right{
    width: 730px;
    height: 100%;
}

.key-table{
    height: 400px;
    width: 100%;
    border: 3px solid #ECBD4D;
    border-radius: 26px;
    text-align: left;
    table-layout: fixed;
    overflow-y: auto;
    border-collapse: collapse;
    display: block;
    padding: 0 20px;
}

table{
    width: 100%;
    height: 390px;
    padding: 0;
    border-spacing: 0;
}

 .key-table table thead{
    text-align: left;
    font-weight: bold;
    position: sticky;
    top: 0;
    width: 100%;
    height: 45px;
    background: white;
}

.key-table tbody{
    height: 100%;
}

th:nth-of-type(1){
    width: 40px;
}

td:nth-of-type(4){
    width: 20px;
    text-align: center;

}

th, td{
    padding: 5px;
    border-bottom: 1px solid #ffebbd;
}

tr:nth-of-type(even){
}

tbody tr:hover{
    background: rgb(234, 234, 234);
    transition: all 0.2s ease;
}

.key-td{
    width: 250px;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: "…";
    cursor: pointer;
}

.key-td[type="password"]:hover{
    /*type="text"*/
}

input{
    background: none;
    border: 3px solid #ECBD4D;
    padding: 5px 10px;
    height: 20px;
    width: 400px;
}

input:focus{
    background: none;
    outline: none;
}

span{
    font-size: 0.8rem;
    font-weight: normal;
    margin: 0;
}

.buttons-bar{
    display: flex;
    justify-content: space-between;
}

button{
    width: 110px;
    height: 30px;
    background: #ECBD4D;
    border: none;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

.true-check{
    margin: auto;
    position: relative;
    display: inline-block;
}

.true-check-icon{
  display: block;
}

.true-check-icon:after{
    position: absolute;
    content: "";
    left: -12px;
    height: 16px;
    width: 6px;
    transform: scaleX(-1) rotate(135deg);
    border-top: 4px solid white;
    border-right: 4px solid white;
    transform-origin: left top;
    animation: check-icon 0.8s ease;
    margin: auto;
}
@keyframes check-icon {
    0%{
        height: 0;
        width: 0;
        opacity: 1;
    }
    20%{
        height: 0;
        width: 6px;
        opacity: 1;
    }
    40%{
        height: 16px;
        width: 6px;
        opacity: 1;
    }
    100%{
        height: 16px;
        width: 6px;
        opacity: 1;
    }
}
</style>